* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
}
header {
    padding:10px;
    height: 150px;
}
.header-menu {
    list-style-type: none;
    margin: 0;
}
.header-menu li {
    color: #183B56;
    margin-right:30px;
}
.landings p {
    margin-bottom: 0px;
    font-size:16px;
    color:#183B56;
}
.fa-angle-down {
    margin-left: 5px;
}
.top-offer {
    border: 2px solid #1565D8;
    border-radius: 6px;
    padding:5px 10px;
    font-weight: bold;
    color: #1565D8;
}
.top-offer p {
    color: #1565D8;
    margin-bottom:0px;
}
.heading {
    color: #183B56;
    font-weight: bold;
}
.below-heading {
    color: #5A7184;
    margin-top:20px;
    height:100px;
}
.search-box {
    border: 1px solid #fff;
    background-color:#fff;
    border-radius:8px;
    width:760px;
    height:56px;
    padding: 5px 10px;
    position: absolute;
    top: 362px;
    margin-top:30px;
}
.search-button {
    border:1px solid #1565D8;
    border-radius: 4px;
    background-color: #1565D8;
    padding: 10px 25px;
    color:#fff;
    font-weight:bold;
}
.search-input {
    display: inline-block;
    box-sizing: border-box;
    border:none;
}
.fa-search {
    color:#959EAD;
    margin:0 10px 0 10px;
}
.main-box  {
    width: 1280px;
    height: 500px;
    background: #D8D8D8;
    border-radius: 8px;
    margin-top:30px;
}
.quote {
    font-weight: bold;
    color: #183B56;
    margin-top:40px;
}
.company-logos {
    margin-top:20px;
}
.main-border {
    border: 1px solid #E5EAF4;
    width: 1140px;
    height: 1px;
    margin:40px 0 40px 0;
}
.about-us {
    color: #36B37E;
    font-size:14px;
}
.first-box {
    width: 458px;
    height: 520px;
    border-radius: 8px;
    background: #D8D8D8;
}
.heading-2 {
    color: #183B56;
    font-weight: bold;
    margin-bottom: 0px;
}
.read-more p {
    margin: 5px 0 0px 10px;
    color: #1565D8;
}
.arrow {
    margin:10px 0 0 10px;
}
.homey {
    margin-top:40px;
}
.below-heading-2 {
    color: #5A7184;
}
.lists {
    padding:0px;
}
.lists li p {
    margin-bottom:0px;
    margin-left: 10px;
    color: #183B56;
}
.lists li {
    margin-bottom: 30px;
}
.second-tick {
    margin-left:10px;
}
.main-mid {
    height: 653px;
}
.offer-box {
    width:48px;
    height: 48px;
    background: #1565D8;
    border-radius: 8px;
    padding: 0px 15px;
}
.offer-box p {
    font-size:28px;
    color: #FFFFFF;
    font-weight: bold;
}
.three-offers {
    margin-top: 50px;
    height: 170px;
}
.three-quotes {
    background: #F9FBFE;
    height: 241px;
}
.icon {
    background: #FAAD13;
    border-radius: 1px;
    width:4px;
    height:20px;
}
.quote-box h6 {
    font-size: 20px;
    color: #183B56;
    font-weight:bold;
}
.top-quote h6 {
    margin-left:20px;
}
.small-quote {
    color: #5A7184;
    margin-left:20px;
}
.white-box {
    width: 868px;
    height: 254px;
    background: #FFFFFF;
    border-radius: 8px;
    left: 227px;
    position: relative;
    bottom: 43px;
}
.link h6 {
    color:#1565D8;
    margin:20px 0 0 20px;
}
.links {
    height: 224px;
}
.quote-text {
    width:1140px;
    height:482px;
    background: #F9FBFE;
    border-radius: 20px;
}
.quote-text p {
    font-size: 30px;
    color: #183B56;
    margin:0 0 50px 50px;
}
.quote-text span {
    font-size: 18px;
    color: #183B56;
    font-weight: bold;
    margin-left: 50px;
}
.quote-text svg {
    position: relative;
    top: 100px;
    left: 50px;
}
.stat h1 {
    font-size: 48px;
    font-weight: bold;
    color: #183B56;
}
.stat p {
    color: #5A7184;
    font-size:18px;
}
.status {
    margin-top:50px;
    height: 300px;  
}
.stat svg {
    margin-bottom: 15px;
}
.signup {
    width:380px;
    height:56px;
    background: #FFFFFF;
    border: 1px solid #C3CAD9;
    border-radius: 8px;
}
.signup-box {
    Width:1140px;
    Height:498px;
    background: #1565D8;
    border-radius: 16px;
}
.signup-box h1 {
    font-size: 36px;
    font-weight:bold;
    color:#fff;
}
.signup-box p {
    font-size: 18px;
    color:#fff;
}
.signup-area {
    
}
.signup-box span {
    font-size: 14px;
    color:#fff;
}
.footer-logo {
    margin-bottom: 20px;
}
footer ul li h6 {
    font-weight: bold;
    margin-bottom:20px;
    color:#183B56;
}
footer ul li p {
    color: #183B56;
}
footer {
    height: 354px;
}
.license {
    margin-top:20px;
    color:  #5A7184;
}
.signup-area {
    height: 600px;
}